* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;


}

html,
body {
    /* width: 100%; */
    overflow-x: visible;
    max-width: 100%;
    width: 100vw;

}

body {
    background-color: black;
    color: rgba(245, 245, 245, 0.685);


}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.562);


}



nav ul {
    display: flex;
    justify-content: center;


}

nav ul li {
    list-style: none;
    margin: 0px 23px;
    font-size: larger;



}

nav ul li a {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.685);

}

.btn1 {
    display: flex;
    margin: 45px 0px 0px -26px;
    padding: 1px 23px;

}

/* .sec2-cv {
    margin: 32px 40px ;
    padding: 20px 60px;
    font-size: 20px;
    border-radius: 10px;
    
    } */

.btn1 :hover {
    background-color: rgb(255, 240, 32);
    cursor: pointer;

}

.btn1>:first-child {
    padding: 18px 50px;
    margin-right: 30px;
    border-radius: 10px;
    font-size: 20px;



}

.btn1>:nth-child(2) {
    text-decoration: none;
    margin-right: 30px;
    padding: 5px 30px;
    border-radius: 10px;
    font-size: 20px;


}

.btn1>:nth-child(3) {
    padding: 18px 50px;
    margin-right: 30px;
    border-radius: 10px;
    font-size: 20px;



}



nav ul li a:hover {
    color: yellow;
    /* border: solid yellow 1px;
    border-radius: 8px; */
    font-size: 22px;

}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    color: aqua;

}


.bar {
    width: 25px;
    height: 3px;
    background-color: rgba(245, 245, 245, 0.685);
    margin: 4px 0;
}



.left {
    font-size: 1.8rem;
    color: yellow;
}


.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 220px 0px;
}

@media screen and (max-width:1250px) {
    .first-section {
        flex-direction: column;
    }
}

.leftsection {
    width: 30%;
    font-size: 20px;
    margin-bottom: auto;

}


.leftsection> :first-child {

    color: white;
    font-size: 5rem;
    line-height: 100px;

}


.leftsection> :nth-child(3) {
    margin-top: 10px;
    word-spacing: 4px;
    font-size: 20px;
    /* text-shadow: 2px 2px rgba(255, 255, 255, 0.267); */

}

.leftsection> :nth-child(4) {
    font-size: 20px;
}

.rightsection {
    width: 30%;

}

.image1 {
    margin: 55px 0px;
    border: none;
    width: 100%;

}

#element {
    font-size: 3rem;
}


/* --------------------ABout------------------- */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    /* color: yellow; */


}

@media screen and (max-width:600px) {
    .about {
        text-align: right;
        align-items: self-end;
        margin: 0px 35px;
    }
}




.text {
    text-transform: uppercase;
    background: linear-gradient(90deg, yellow, #fffdfbcb);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.second-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-around; */
    /* Adds equal space around the divs */
    align-items: center;
    /* Aligns items vertically */
    padding: 20px;
    /* Optional padding */
}


.leftsecond,
.rightsecond {
    width: 40%;
    /* Adjust width as needed */
    padding: 20px;
    /* Optional padding */
    margin: 100px 155px;

}

.line1 {
    color: yellow;
    font-size: 50px;
}

.line2 {
    font-size: 50px;
    color: white;

}

.line3 {
    font-size: 23px;
}



.mypic img {
    margin: 60px 150px;
    border: 2px solid rgb(219, 219, 10);
    height: 400px;
    border-radius: 70px;
    /* opacity: 0.66; */
    cursor: none;

}




/* -----------------skills section-------------------- */

.headers {
    display: flex;
    margin: 27px 0px;
    /* width: 150vh; */
    position: relative;
    right: 40px;
    color: rgb(180, 178, 21);
    /* text-decoration: underline; 
    text-decoration-color: yellow; */
    cursor: pointer;


}

.tab-links {
    margin: 0px 50px;
    font-size: 20px;
    position: relative;

}


.tab-links::after {
    content: '';
    height: 4px;
    width: 0;
    position: absolute;
    background: linear-gradient(to right, yellow, white);
    bottom: 0px;
    left: 0px;
    border-radius: 5px;
}

.tab-links.active-header::after {
    width: 100%;
}

/* ---------------------content */
.tab-contents ul {
    list-style: none;
}

.tab-contents {
    display: flex;
}

.htmlimage {
    color: white;
}

.htmlimage img {
    height: 50px;
    width: 50px;
    background-color: black;
    /* margin-bottom: 1px ; */
}

.css {
    margin-top: 20px;
    color: white;
}

.css img {
    height: 50px;
    width: 50px;
    background-color: black;

}

.Javasript {
    margin-top: 20px;
    color: white;
}

.Javasript img {
    height: 50px;
    width: 50px;
    background-color: black;

}

.React {
    margin-top: 20px;
    color: white;

}

.React img {
    height: 50px;
    width: 50px;
    background-color: black;

}

.tab-contents> :nth-child(2) {
    margin: 0px 150px;
}

.cplus {
    color: white;
}

.cplus img {
    height: 50px;
    width: 50px;
    background-color: black;

}

.c {
    margin-top: 20px;
    color: white;
}

.c img {
    height: 50px;
    width: 50px;
    background-color: black;

}

.python {
    margin-top: 20px;
    color: white;
}

.python img {
    height: 50px;
    width: 50px;
    background-color: black;

}

/* ----------------------project section--------------- */
.section3-project {
    height: 90vh;
    width: 100%;
}

.portfolio-title {
    /* text-transform: uppercase; */
    background: linear-gradient(90deg, yellow, #fffdfbcb);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;


}

.Projectheading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
    height: 90vh;

}

.grocery {
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 60vh;
    width: 70vh;
    margin: 50px 100px;
    border: solid 2px rgb(230, 226, 171);
    border-radius: 20px;



}

.grocery img {
    width: 70vh;
    border-radius: 10vh;
    transition: transform 0.5s;
}

.netflix {
    display: flex;
    justify-content: center;
    font-size: 20px;
    border: solid 2px rgb(230, 226, 171);
    border-radius: 20px;
    margin: 50px 140px;
    width: 70vh;
    height: 60vh;
    /* height: 60vh;
    width: 60vh; */
}

.netflix img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.5s;
}

.layer {
    width: 70vh;
    height: 0vh;
    position: absolute;
    font-size: 13px;
    font-weight: 900;
    background: linear-gradient(to top, rgba(235, 235, 26, 0.815), rgba(255, 255, 255, 0.336));
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    transition: height 0.5s;


}

.layer h3 {
    font-size: 20px;
}

.layer p {
    margin: 20px 50px;
}

.netflix:hover img,
.grocery:hover img {
    transform: scale(1.02);

}

.netflix:hover #l1 {
    height: 60vh;
}

.grocery:hover #l2 {
    height: 60vh;
}


/* ---------------------contact section------------------- */
.section4 {
    height: 100vh;

}

.contactheading {
    display: flex;
    justify-content: center;
    font-size: 80px;
    /* text-transform: uppercase; */
    background: linear-gradient(90deg, yellow, #fffdfbcb);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.container4sec {
    display: flex;
    justify-content: space-around;
    margin: 10px 40px;
}

.left4 {
    border-radius: 10px;
    padding: 20px 20px;
    margin: 50px;
    font-size: 40px;
    color: yellow;
    position: relative;
    right: 8px;
    top: 70px;
    height: 72vh;
    width: 70vh;
    background-color: #b3b32c33;
}

.left4> :nth-child(2) {
    color: white;
    font-size: 20px;
    opacity: 0.66;
    margin: 3px;

}

#input1 {
    width: 60%;
    margin: 10px -3px;
    height: 52px;
    padding: 9px 9px;
    font-size: 30px;
    font-weight: 400;
    background: #ffff0033;
    border: solid 0px yellow;
    border-radius: 18px;
    color: white;
}

textarea {
    resize: none;
    background: #ffff0033;
    border: solid 0px yellow;
    border-radius: 18px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    width: 58vh;
    height: 28vh;
    padding: 9px 9px;
    margin-top: 10px;

}


.right4 {

    position: relative;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 38px;
    font-size: 40px;
    color: yellow;
    position: relative;
    right: 80px;
    top: 150px;
    height: 55vh;
    width: 60vh;
    background-color: #b3b32c33;


}

.btn-container {
    display: inline-block;
    position: relative;


}

.linkdin,
.Twitter,
.Instagram {

    display: flex;
    background-color: white;
    margin: 15px 0px 0px 0px;
    padding: 5px 5px;
    height: 10vh;
    font-size: 20px;
    text-align: left;
    width: 50vh;
    padding: 2px 10px;
    align-items: center;
    background: #ffff0033;
    color: white;
    border-radius: 19px;
    transition: .5s;


}

.Instagram img,
.Twitter img,
.linkdin img {
    height: 30px;
    margin: 3px 10px 0px 0px;
    width: auto;
}


.Instagram span,
.linkdin span,
.Twitter span {
    background: linear-gradient(90deg, yellow, white);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.linkdin:hover,
.Twitter:hover,
.Instagram:hover {
    border: solid 2px white;
    transform: scale(1.03);

}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.274);
    border-radius: 5px;
    border: solid 1px rgba(245, 245, 245, 0.301);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: yellow;
}

/* ----------------------------media query----------------- */
@media screen and (max-width: 1200px) {
    html {
        font-size: 25px;
    }

    .leftsection,
    .rightsection {
        width: 100%;
    }

    .first-section {
        flex-direction: column;
        margin: 100px 0px;
    }

    .second-section {
        grid-template-columns: 1fr;
    }

    .leftsecond,
    .rightsecond {
        /* width: 100%;
        margin: 50px 20px; */
        width: 100%;
        margin: 50px -4px;
        font-size: 17px;
    }

    .mypic img {
        margin: 30px auto;
        width: 80%;
        height: auto;
    }

    .container4sec {
        flex-direction: column;
    }

    .left4 {
        /* width: 90%;
        margin: 20px auto;
        height: auto; */
        width: 92%;
        margin: 20px 7px;
        padding: 22px 14px;
        height: auto;
    }

    .right4 {
        width: 90%;
        position: inherit;
        margin: 100px -6px;
        height: auto;
        /* width: 66%;
        margin: 20px 7px;
        padding: 22px 14px;
        height: auto; */
    }

    .right4 .Instagram,
    .Twitter,
    .linkdin {
        width: 35vh;

    }

    .Projectheading {
        grid-template-columns: 1fr;
    }

    .netflix,
    .grocery {
        width: 60vh;
        border: solid 2px rgb(230, 226, 171);
    }
}

#input1,
textarea {
    width: 90%;
    font-size: 20px;
}

.container4sec {
    grid-template-columns: 1fr;
}

.section4 {
    height: 150vmax;
}


@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        width: 42vh;

    }

    nav .left {
        font-size: 20px;
    }


    .right {
        display: none;
    }

    .tab-contents> :nth-child(2) {
        margin: 0px 50px;
    }

    .hamburger {
        display: flex;
        position: relative;
        left: 224px;
        color: aqua;
    }

    .nav-links {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .first-section {
        margin: 73px 15px;
    }

    .about {
        font-size: 2.2rem;
        width: 42vh;
    }

    .portfolio-title,
    .contactheading {
        /* font-size: 42px;
        width: 60vh;
        margin: 10px 58px; */
        font-size: 1.9rem;
        width: 36vh;
        margin: 12px 51px;
    }

    .btn1 {
        margin: 45px -25px 0px;
    }

    /* .btn1>:nth-child(3) {
        padding: 17px 20px;
        font-size: 22px;

    }

    .btn>:nth-child(2) {
        font-size: 22px;
    } */

    .btn1>:first-child,
    .btn1>:nth-child(3),
    .btn1>:nth-child(2) {
        font-size: 17px;
        margin-left: 0px;
        padding: 3px 10px;
    }

    .image1 img {
        width: 36vh;
        padding: 8px 35px;
    }

    .leftsection> :first-child {

        font-size: 2.5rem;
        margin-top: 80px;

    }

    #element {
        font-size: 2.2rem;
    }

    .section4 {
        width: fit-content;
        margin: 184px 7px;
    }

    body {
        margin: 0;
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .section3-project {
        height: 105vh;
    }


    .netflix {
        /* margin: 50px 0px;
        transition: height 0.5; */
        margin: 50px -4px;
        width: 38vh;
        height: 40vh;
    }
    .layer h3 {
        font-size: 17px;
    }

    .netflix:hover #l1,
    .grocery:hover #l2 {
        width: 38vh;
        height: 40vh;
    }

    .grocery {
        margin: 50px 0px 5px;
        width: 38vh;
        height: 40vh;
    }

    .grocery img {
        width: 38vh;
        height: 40vh;
    }



}